# Cloud Init Variables
user_name   = "ubuntu"
ssh_authorized-key = "ssh-rsa ..."

# Power DNS Variables
mysql_root_pass = "thisistherootpassword"
mysql_user = "pdns"
mysql_user_pass = "thisistheuserpassword"
api_key = "thisistheapikey"